:root{
  --near_white: #eaeaea;
  --white:#fff;
  --near_grey:#727272;
  --near_yellow:#f9b93e;
}
.about_cont{
  position:absolute;
  top:288px;
  size:950px 520px;
}
.ABOUT_US{
  font-size: 47.99px;
  font-family:Helvetica;
  font-weight: normal;
  position: absolute;
  color:var(--white);
}
.yellow_hr{
  position: absolute;
  top: 57.99px;
  background: var(--near_yellow);
  width: 297px;
  height: 1px;
  border: 0;
}
.ABOUT_US_div{
  width: 297px;
}
.ABOUT_US_text{
  font-size: 20.02px;
  font-family:Helvetica;
  font-weight: normal;
  position: absolute;
  top:135px;
  color:var(--near_grey);
  size:100% 376px;
}
.envelope{
  position: absolute;
  bottom: 0;
}
.fa-envelope{
  color:var(--near_yellow);
  font-size: 20px !important;
  font-style: normal;
}
.envelope_email{
  color:var(--white);
  font-size: 20px ;
  margin-left: 10px;
}
.judgment_cat{
  width: 100%;
  position: absolute;
  top:41px;
}
.about_first_column{
  position:absolute;
  size:400px 520px;
}
.about_second_column{
  position:absolute;
  right: 0;
  size:441px 520px;
}
