:root{
  --near_white: #eaeaea;
  --white:#fff;
  --near_dark_grey:#5b5b5b;
  --near_yellow:#f9b93e;
}
.home_cont{
  position: absolute;
  top:213px;
  size:975px 608.25px;
}
.home_first_col{
  position: absolute;
  top:117px;
  width:514px;
}
.home_read_write{
  position: absolute;
  width:514px;
  color:var(--white);
  font-size: 48.02px;
  font-family:Helvetica;
  font-weight: normal;
  line-height:1.128571 !important;
  span{
    color:var(--near_yellow);
  }
}
.home_text{
  position: absolute;
  top:130px;
  width:514px;
  color:var(--near_dark_grey);
  font-size: 20.02px;
}
.app_store{
  position: absolute;
  width: 171px;
  top:247px;
}
.google_play{
  position: absolute;
  width: 184px;
  top:247px;
  margin-left:211px;
}
.phone{
  position: absolute;
  right: 0;
  width: 292px;
}
