:root{
  --near_white: #eaeaea;
  --white:#fff;
  --near_dark_grey:#5b5b5b;
  --near_yellow:#f9b93e;
}

.home_read_write{
  position: absolute;
  top:330px;
  left:9%;
  width:514px;
  color:var(--white);
  font-size: 48.02px;
  font-family:Helvetica;
  font-weight: normal;
  line-height:1.128571 !important;
  span{
    color:var(--near_yellow);
  }
}
.home_text{
  position: absolute;
  top:460px;
  left:9%;
  width:514px;
  color:var(--near_dark_grey);
  font-size: 20.02px;
}
.app_store{
  position: absolute;
  width: 171px;
  top:577px;
  left:9%;
}
.google_play{
  position: absolute;
  width: 184px;
  top:577px;
}
.phone{
  position: absolute;
  right: 3%;
  top:213px;
  z-index: -5;
  width: 292px;
}
