:root{
  --near_black : #1d1d1d;
  --white: #fff;
  --yellow: #ffe133;

}


/* h_it_work */
    .How_it_work{
      background:#fff;
    }
    #h_it_work{
      position: relative;
      margin-top: 50px;
      background-color: var(--near_black);
      color: var(--white);
      padding: 10px;
      font-size: 16px;
    }
    .number_circle{
      position:relative;
      margin-top: 15px;
      background-color: #089d80;
      color: var(--white);
      size: 40px;
      padding: 5px;
      font-size: 20px;
      border-radius:50%;
    }
    .title_h_i_w{
      font-size: 25px;
      font-weight: bold;
      color: var(--near_black);
    }
    .title_h_i_w,.text_h_i_w{
      position: relative;
      width: 100%;
      margin-top: 10px;
    }
    .column_h_i_w{
      position:relative;
    }



/* div_offer */

#div_offer{
  width:100%;
  position:relative;
  background: var(--yellow);
}
.transparent{
  background-color:transparent;
  width:100%;
  color:var(--white);
}
.offer_1{
  position: relative;
  margin-top: 50px;
  background-color: var(--near_black);
  color: var(--white);
  padding: 10px;
}
