@import  './pages/about';
@import  './pages/home';
@import  './pages/privacy';
@import  './pages/terms';

@import  './bootstrap/bootstrap';
@import  './font-awesome/css/font-awesome';



@charset "UTF-8";


:root{
  --near_white: #eaeaea;
  --corpopation_license:#686868;
  --footer_hr:#e0e0e0;
  --footer_terms:#555555;
}


/*---------------------------------------------------------------------------------
	0.  Flex classes

----------------------------------------------------------------------------------- */





/* -------------------------------------------------------------------------------- */
/*	0. Flex classes
/* -------------------------------------------------------------------------------- */
.white{
  color:white!important
}
.margin-auto{
  margin:auto;
}
.flex{
	display: flex
}
.flex_center{
  justify-content: center
}
.flex_right{
	justify-content: flex-end
}
.flex_between{
  justify-content: space-between
}
.flex_align_center{
	align-items: center
}
.flex_direct_col{
	flex-direction:column
}
.flex_direct_row{
	flex-direction:row
}
.flex_wrap{
	flex-wrap: wrap
}
.flex_no_wrap{
	flex-wrap: nowrap
}
.flex_align_start{
  align-items:stretch;
}
.flex_align_end{
  align-items: flex-end;
}


//Header

.about_us{
  font-size: 18px;
  font-family:Helvetica;
  font-weight: bold;
  position: absolute;
  right: 10%;
  top:74px;
  width:120px;
  color: var(--near_white);
}
.fa-facebook{
  position: absolute;
  top:65px;
  right: 4%;
  font-size: 23.91px !important;
  font-style: normal;
  size:13.672px 34px;
}
.fa-twitter{
  position: absolute;
  right: 0;
  top:65px;
  font-size: 23.91px !important;
  font-style: normal;
  size:13.672px 34px;
}

.Header{
  color: var(--near_white);
  width:90%;
  margin: auto;
  position: relative;
}
.tales{
  font-size: 36px;
  font-family:Helvetica;
  font-weight: lighter;
  position: relative;
  top:50px;
  left:5%;
  color: var(--near_white);
}
.header_img{
  size: auto 50px;
  margin-right: 24px;
  position:relative;
  top:50px;
  left:5%;
}
.header_social{
  width: 100%;
  height: 25px;
}

// Footer

.footer_corpopation_license{
  size: 283px 18px;
  position: absolute;
  left:9%;
  font-size: 18px;
  color: var(--corpopation_license);
  margin-bottom:40px;
}
.footer_hr{
  position: absolute;
  left:9%;
  background: var(--footer_hr);
  size: 297px 1px;
  border: 0;
}
.footer_terms{
  font-size: 18px;
  color:var(--footer_terms);
  position: absolute;
  right:3%;
  margin-right:173px;
  bottom:43px;
  size:131px 18px;
}
.footer_smile{
  font-size: 18px;
  color:var(--footer_terms);
  position: absolute;
  right:3%;
  margin-right:136px;
  bottom:41px;
  size:18px;
}
.footer_privacy{
  font-size: 18px;
  color:var(--footer_terms);
  position: absolute;
  right:3%;
  bottom:41px;
  size:131px 18px;
}

.alphabet_bg div{
  position:absolute;
  z-index:-15;
  color:#fff;
  font-size:200%;
}
