@import  './pages/about';

@import  './bootstrap/bootstrap.min';
@import  './font-awesome/css/font-awesome';



@charset "UTF-8";


:root{
  --near_white: #eaeaea;
  --corpopation_license:#686868;
  --footer_hr:#e0e0e0;
  --footer_terms:#555555;
}


/*---------------------------------------------------------------------------------
	0.  Flex classes

----------------------------------------------------------------------------------- */





/* -------------------------------------------------------------------------------- */
/*	0. Flex classes
/* -------------------------------------------------------------------------------- */
.white{
  color:white!important
}
.margin-auto{
  margin:auto;
}
.flex{
	display: flex
}
.flex_center{
  justify-content: center
}
.flex_right{
	justify-content: flex-end
}
.flex_between{
  justify-content: space-between
}
.flex_align_center{
	align-items: center
}
.flex_direct_col{
	flex-direction:column
}
.flex_direct_row{
	flex-direction:row
}
.flex_wrap{
	flex-wrap: wrap
}
.flex_no_wrap{
	flex-wrap: nowrap
}
.flex_align_start{
  align-items:stretch;
}
.flex_align_end{
  align-items: flex-end;
}

#main{
  padding: 0 120px 0 126px;
}

//Header

.about_us{
  font-size: 18px;
  font-family:Helvetica;
  font-weight: bold;
  position: absolute;
  left: 979px
}
.fa-facebook{
  position: absolute;
  left: 1150px;
  font-size: 23.91px !important;
  font-style: normal;
}
.fa-twitter{
  position: absolute;
  left: 1203px;
  font-size: 23.91px !important;
  font-style: normal;
}

.Header{
  margin-top:50px;
  color: var(--near_white);
}
.tales{
  font-size: 36px;
  font-family:Helvetica;
  font-weight: lighter;
}
.header_img{
  size: auto 50px;
  margin-right: 24px;
}


// Footer

.footer_corpopation_license{
  size: 283px 18px;
  position: absolute 977px 955px 41px 127px;
  font-size: 18px;
  color: var(--corpopation_license);
}
.footer_hr{
  position: absolute 947px 940px 87px 127px;
  background: var(--footer_hr);
  size: 297px 1px;
  border: 0;
}
.footer_terms{
  font-size: 18px;
  color:var(--footer_terms);
  position: absolute;
  top: 977px;
  left:932px;
  width:131px;
}
.footer_smile{
  font-size: 18px;
  color:var(--footer_terms);
  position: absolute;
  top: 979px;
  left:1084px;
  width:18px;
}
.footer_privacy{
  font-size: 18px;
  color:var(--footer_terms);
  position: absolute;
  top: 977px;
  left:1119px;
  width:131px;
}
